body {
  background: #323e56;
}

main {
  background: #fff;
  margin: 0 3rem;
  padding: 1rem 3rem 2rem;
  border-radius: 1em;
  min-height: 40em;
}

@media screen and (max-width: 640px) {
  main {
    margin: 0;
    padding: 1rem 1rem 2rem;
  }
}
