@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
}

.wdxl-lubrifont-jp-n-regular {
  font-family: 'WDXL Lubrifont JP N', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mochiy-pop-p-one-regular {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header.et_header {
  line-height: 1.5;
  background: #323e56;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -1em 3em -1.5em 2em;
}

.logo {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 0.5em;
}

.title {
  color: #fff;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.title img {
  cursor: pointer;
}

.title span {
  cursor: pointer;
}

.user {
  float: right;
}

.username {
  margin-right: 1em;
  color: #fff;
}

footer.et_footer {
  text-align: center;
  color: #fff;
  margin-top: 1em;
}

footer.et_footer a {
  color: #fff;
}

@media screen and (max-width: 640px) {
  header.et_header {
    margin: -1em 0 -1.5em 0;
  }

  .title {
    font-size: 1.5em;
  }

  .title span:last-child {
    margin-left: -65px;
    padding-top: 50px;
    font-size: 0.6em;
  }
}
