@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
}

.wdxl-lubrifont-jp-n-regular {
  font-family: 'WDXL Lubrifont JP N', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mochiy-pop-p-one-regular {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
